<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="Sound Mixer Redux"
           Manufacturer="Adufresne1"
           Version="$(var.ProductVersion)"
           UpgradeCode="8E6A499A-8994-41B6-86DE-FE0F1A649FFA"
           Scope="perMachine">

    <MajorUpgrade DowngradeErrorMessage="Une version plus récente de [ProductName] est déjà installée." />
    <MediaTemplate EmbedCab="yes" />

    <Icon Id="AppIcon.ico" SourceFile="$(var.IconFile)" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon.ico" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="Sound Mixer Redux" />
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="AppProgramMenuFolder" Name="Sound Mixer Redux" />
    </StandardDirectory>

    <ComponentGroup Id="AppFiles" Directory="INSTALLFOLDER">
      <Files Include="$(var.PublishDir)\**" />
    </ComponentGroup>

    <Component Id="StartMenuShortcut" Directory="AppProgramMenuFolder" Guid="*">
      <Shortcut Id="AppStartMenuShortcut"
                Name="Sound Mixer Redux"
                Target="[INSTALLFOLDER]WSMR.exe"
                WorkingDirectory="INSTALLFOLDER"
                Icon="AppIcon.ico" />
      <RemoveFolder Id="RemoveAppProgramMenuFolder" On="uninstall" />
      <RegistryValue Root="HKCU" Key="Software\Adufresne1\VolumeMixer" Name="Installed" Type="integer" Value="1" KeyPath="yes" />
    </Component>

    <Feature Id="Main">
      <ComponentGroupRef Id="AppFiles" />
      <ComponentRef Id="StartMenuShortcut" />
    </Feature>
  </Package>
</Wix>
